<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">Welcome to the test project :-)</h3>
	</div>
	<div class="panel-body">
		<ul>
			<li>Add some basic form validation to the <a href="#/register">registration form</a>. Both inputs are required. The email should have basic format validity checked and the password should be at least 8 characters long.</li>
			<li>Add some form validation feedback for the users. The feedback should reflect the reason why the validation didn't succeed.</li>
			<li>Add a field for a Swedish social security number (SSN), validate that the input has the proper format and check the SSN's validity with the luhn algorithm.</li>
			<li>Add a second password and a second email field and check that the values of each of these pairs match.</li>
		</ul>
	</div>
</div>
