<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Please fill out the form to register</h3>
	</div>
	<div class="panel-body">
		<form name="regForm" class="form" novalidate>
			
			<div class="form-group">
				<label for="email" class="control-label">email:</label>
				<input name="uEmail" type="email" id="email" class="form-control" ng-model="user.email" required=""/>
				<br/>
				<div ng-show="regForm.$submitted || regForm.uEmail.$touched">
					<span ng-show="regForm.uEmail.$error.required">Please provide your e-mail adress, eg. me@example.org</span>
					<span ng-show="regForm.uEmail.$error.email">This is not a valid email address.</span>
				</div>
			</div>
<!--
			<div class="form-group">
				<label for="emaiConfirm" class="control-label">confirm email:</label>
				<input name="emailConfirm" type="email" id="emailConfirm" class="form-control" ng-model="user.emailConfirm" required match="user.uEmail"/>
       			<span ng-show="regForm.emailConfirm.$error.match">
       				<span class="msg-error">Provided email doesn't match!</span>
       			</span>
			</div>

		
<!--
            <div class="form-group">
				<label for="email" class="control-label">confirm email:</label>
				<input name="confirmEmail" type="email"  class="form-control" ng-model="user.confirmEmail" required=""  data-password-verify="user.uEmail" />
                <br/>
           
            <div ng-show="regForm.$submitted || regForm.uEmail.$touched">
					<span ng-show="regForm.confirmEmail.$error.noMatch">provided emails doesnot matches</span>
				</div>    
			</div>
-->				

			<div class="form-group">
				<label for="password" class="control-label">password:</label>
				<input name="password" type="password" id="password" class="form-control" ng-model="user.password" required="" ng-minlength="8"/>
                <br/>
            <div ng-show="regForm.$submitted || regForm.password.$touched">
					<span ng-show="regForm.password.$error.required">Please select a password.</span>
					<span ng-show="regForm.password.$error.minlength">Your password should be at least 8 characters long.</span>
				</div>    
			</div>

			<div class="form-group">
				<label for="password" class="control-label">confirm password:</label>
				<input name="confirmPassword" type="password"  class="form-control" ng-model="user.confirmPassword" required="" ng-minlength="8" data-match"user.password" />
                <br/>
           
            <div ng-show="regForm.$submitted || regForm.confirmPassword.$touched">
					<span ng-show="regForm.confirmPassword.$error.match">provided password doesnot matches</span>
				</div>    
			</div>
<!--
			<div class="form-group">
				<label for="ssn" class="control-label">social security number:</label>
				<input name="ssn" type="text" id="ssn" class="form-control" ng-model="user.ssn" placeholder="YYMMDD-SSSS" required ssn/>
       			<span ng-show="regForm.ssn.$error.ssn && !regForm.ssn.$error.required">
       				<span class="msg-error">Not valid social security number!</span>
       			</span>
			</div>

-->
			<div class="form-group">
				<input type="button" ng-click="submit(user)" ng-disabled="regForm.$invalid" class="btn btn-primary pull-right" value="register" />
			</div>

		</form>
	</div>
</div>
